/*
    @author : Yohan Tison
    @agency : Dixup | Agence de communication interactive
*/
/*-----------ROUNDED CORNER--------------*/
/*
    Exemple : 
                .sbr(20px);
*/
/*
    Exemple :
                .cbr(20px,20px,0px,0px);
*/
/*-----------Box Shadox--------------*/
/*
    Exemple : 
                .bs(20px,20px,6px,0,0,0,0.3);
*/
/*-----------Gradient--------------*/
/*
    Exemple : 
                .lg(left, #663333, #333333);
*/
/*-----------Gradient--------------*/
/*
    Exemple : 
               background-color:#EFEFEF;
               .qg(top,0.2);
*/
/*-----------Reflection--------------*/
/*
    Exemple : 
               .reflect(20%, 0.2);
*/
/*-----------color--------------*/
/*
    Exemple : 
                .one   {color: @base;}
                .two   {color: @complement1;}
                .three {color: @complement2;}
                .four  {color: @lighten1;}
                .five  {color: @lighten2;}
*/
/*-----------opacity--------------*/
/*
    Exemple : 
                .opacity(100);
*/
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #e1e1e1;
}
.contentWrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
section.button {
  width: 80%;
  height: 5%;
  display: block;
  margin: 0 auto;
  vertical-align: center;
  background-color: #00ffff;
  color: #99001a;
}
