@import 'library/include_property'; //Permet d'inclure les librairie Less
@bgcolor : #e1e1e1;
@center : 0 auto;
@totalWidth:100%;
@totalHeight:100%;
@color: #a5a5a5;
@contentWidth: @totalWidth - 20;



html,body{
	width:@totalWidth;
	height:@totalHeight;
}
body{
	background-color: @bgcolor;
	
	
}
.contentWrapper{
	width:@contentWidth;
	height:@totalHeight;
	margin:@center;
}

section.button{
	width:80%;
	height:5%;
	display:block;
	margin: @center;
	vertical-align:center;
	@base:red;
	background-color:@complement1;
	color:@darker2;
	@shadow:5px 5px 5px rgba(0,0,0,1),
			5px 5px 5px rgba(0,0,0,1) inset;
	.mbs(@shadow);
	
}



